@import './palette';

.question {
  width: 680px;
  margin-left: 89px;
  margin-right: 159px;
  margin-top: 77px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .sendAnswer {
    background-color: $color3;
    color: $color1;
    border-color: transparent;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 23px;
    letter-spacing: 0.5px;
    width: max-content;
    margin-top: 31px;
    outline: transparent;

    &:hover {
      cursor: pointer;
      background-color: $color4;
    }

    &:disabled {
      opacity: 0.3;

      &:hover {
        cursor: initial;
        background-color: $color3;
      }
    }
  }
}

.inputRow {
    margin-top: 15px;
    padding-bottom: 13px;
    border-bottom: solid 1px $color5;

    input {
        outline: transparent;
        color: $color2;
        font-size: 20px;
        font-weight: 500;
        border: transparent;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
